	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	{{> /include/link }}
	    
    <script>
   	
    
    $(document).ready(function(){
    	//로그인폼 숨기기
    	$('#loadLoginForm').hide();
    	
    	//로그인 폼 닫기
    	$('#cancle').on('click', function(){
    		$('#loadLoginForm').hide('slow');
    	});
    	
    	//로그인 폼 열기
    	$('#login').on('click', function(){
    		$('#loadLoginForm').toggle('slow');
    	});
    	
    	//로그인 요청
    	$('#submit').on('click', loginRequest);
    	
    	//로그아웃 요청
    	$('#logout').on('click', logoutRequest);
    	
    });
    
    //로그아웃 요청
    function logoutRequest(){
		$.ajax({
    		url: '/requestLogout',
    		type: 'post',
    		success: function(){
    			location.reload();
    			alert('로그아웃 되었습니다');
    		}
    		
    	});
    }
    
    //로그인 함수
    function loginRequest(){
    	var formData = $("#formData").serialize();
		
		$.ajax({
			url: '/requestLogin',
			type: 'post',
			data: formData,
			dayaType: 'text',
			success: function(data){
				if(data != "")
				{
					if(data != "푸르밀")
					{
						$('#loadLoginForm').hide();
						$('#name').val('');
						$('#password').val('');
						location.reload();
						alert(data + '님 로그인 되었습니다');
					}
					else
					{
						$('#loadLoginForm').hide();
						$('#name').val('');
						$('#password').val('');
						location.reload();
						if(confirm('Do you want insert a new key?'))
						{
							var prompt = prompt('input your key');
							$.ajax({
								url: '/inputKey',
								type: 'post',
								data: prompt,
								success: function(){
									alert('success');
								},
								error: function(){
									alert('fail');
								}
							});
						}
					}
				}
				else
				{
					alert('로그인 정보를 확인해주세요');
    				$('#name').focus();
				}
			},
			error: function(){
				alert('로그인 정보를 확인해주세요');
				$('#name').focus();
			}
		});//ajax close
    }//function close
    
    //엔터 키
    function enterkey() {
        if (window.event.keyCode == 13) {
        	loginRequest();
        }
	}


    
    
    </script>
    
    <body>
    
  		<div class="page-header" style="text-align: center; margin-bottom: 1%;">
  			<a onclick="javascript: location.href='/'" class="btn" style="font-size: xx-large;">My Baron</a>
		</div>
		
		<nav class="navbar">
			<div class="container-fluid">
			  	<ul class="nav nav-pills navbar-left" role="tablist">
			  	{{^user}}
					<li role="presentation"><a id="login" class="btn btn-warning">로그인</a></li>
					<li role="presentation"><a class="btn btn-warning" href="/user/signup">회원가입</a></li>
				{{/user}}	
				
				{{#user}}
					<li role="presentation"><a id="logout" class="btn btn-warning">로그아웃</a>
					</li>
					<li role="presentation"><a class="btn btn-warning" href="/user/list">가입자 명단</a></li>
				{{/user}}
				</ul>
			</div>
		</nav>
		<br>
		
		<div id="loadLoginForm" style="text-align: right; padding: 0;">
			<form id="formData" method="post">
				<table style='display: inline-block; text-align: right;' class='table'>
				
				<caption>로그인 정보를 입력해주세요</caption>
				
				<tr class='info'>
					<th>닉네임</th> 
					<td><input id="name" name="name" class='form-control' onkeyup="enterkey();"></td>
				</tr> 
				
				<tr class='info'>
					<th>비밀번호</th>
					<td><input id="password" name="password" type='password' class='form-control' onkeyup="enterkey();"></td> 
				</tr>
				
				<tr> 
					<td></td>
					
					<td colspan="1">
						<button type="button" class='btn btn-success' id='submit'>로그인</button>
						<button type="button" class='btn' id='cancle'>취소</button>
					</td>
				</tr>
				
				</table>
			</form>
		</div>
		
		<div style="margin-bottom: 4%;">
			<div class="container">
				<form action="/userProfile" method="get" class="form-horizontal">
				  <div class="form-group form-group-lg">
				    <button style="width: 10%;" type="submit" id="userSerch" class="btn btn-info btn-lg">검색</button>
				    <div class="col-sm-10">
				      <input style="display: block;" class="form-control" type="text" id="formGroupInputLarge" name="user" placeholder="검색할 유저 닉네임">
				    </div>
				    
				  </div>
				</form>
			</div>
		</div>
			
	</body>	
		
		
		
		
		