<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>인테리어 바론</title>
   
    {{> /include/link }}
   
   <script type="text/javascript">
    $(document).ready(function(){
        $(document).ready(function(){
        	$('#header').load("/header.html");
        });
    });
    
    
    </script>
  </head>
  
	 {{> /include/header }}
  
	<div class="container">
		<table class="table">
		 	<tr>
		 		<td>번호</td>
		 		<td>닉네임</td>
		 	</tr>
		 	{{#userList}}
		 	<tr>
		 		<td>{{id}}</td>
		 		<td>{{name}}</td>
		 	</tr>
		 	{{/userList}}
		 	
		 	
		</table>
	
	</div>
  
  </body>
</html>