@charset "EUC-KR";


	/*	가장 기본적인 미디어 쿼리	*/

	/* 526 픽셀 이하면 99%로 조정*/
	@media(max-width:480px){
	
		.search{
			width: 100%!important;
			margin-top: 5px;
			margin-left: 0px!important;	
		}


	
	}
	
	@media(max-width:480px){		
		#reg-form-div{
			width: 100%!important;
		}
	}
	
	@media(max-width: 377px)
	{
				
		#commentWrite{
			display: inline-block;
		}
		
		#commentImg{
			display: inline-block;
		}
	}
	
	
	@media(max-width: 580px)
	{
		span{
			font-size: 50%;
		}
		.td0{
			width: 6%!important;
			
		}
		.td3{
			
		}		
		#par{
			width: 76%!important;
		}
		.kda{
		font-size: 100%!important;
		}
		.containerr{
			padding: 0px!important;
		}
	}

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	