<!-- 

http://taycaldwell.com/riot-api-java/doc/


 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Baron</title>
    	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  
  <script>
  $(document).ready(function(){
	  $('#header').load('/include/header.html'); 
  });
  
  </script>
    
  </head>
  
  
  <body class="container-fluid">
  	
  	<div id="header">
  	
  	</div>
		
		
		

  </body>
</html>