<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>착한 바론</title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
	    $(document).ready(function(){
	    	$('#header').load("/header.html");
	    	
	    	$.ajax({
	    		url: "getIconCode",
				data: {name: name},
	    		type: "get",
	    		dataType: "text",
	    		success: function(result){
	    			$('#icon').attr('src', 'http://opgg-static.akamaized.net/images/profile_icons/profileIcon' + result + '.jpg')
	    		}
	    	});
	    });
		

    </script>

	    
	   
</head>
<body>

    <div id="header">
  		
	</div>
	
<div class="row">
  <div class="col-xs-4">
 	{{#summoner}}
 		소환사 : {{ name }}<br>
  		레벨 : {{ summonerLevel }}<br>
  		{{ profileIconId }}
	{{/summoner}}

  	
  	<div id="userIcon">
  		<img id="icon" src="">
  	</div>
	  
  </div>
 
  <div class="col-xs-8">
	{{gameInfo_Time}}<br>
	{{gameInfo_Mode}} 
  </div>
  
  
</div>






</body>
</html>