<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>My baron</title>
     {{> include/link }}
    
    <script type="text/javascript">
    </script>

	    
	   
</head>
<body>

    {{> include/header }}
	
	
<div class="row" style="text-align: center;">
  	<div class="col-xs-2">
	 	{{#summoner}}
	 		<!-- 아이콘 -->
		 	{{ #profileIconId }}
	  			<span style="display: none;" id="iconCode">{{.}}</span>	
	  		{{ /profileIconId }}
	 		<ul style="list-style: none;">
	 			<li>{{ #name }} {{.}} {{ /name }}</li>
	 			<li>{{ #summonerLevel }}	레벨 : {{.}}	{{ /summonerLevel }}</li>
		{{/summoner}}
  				{{#iconImg}}
  				<li>{{{ iconImg }}}</li>
				{{/iconImg}}
			</ul>
	</div>
		<div class="col-xs-3">	
		{{ #gameInfo_Time }}
				{{.}}
		{{ /gameInfo_Time }}
		<br>
	
		{{ #gameInfo_Mode }}
				{{.}}
		{{ /gameInfo_Mode }}
	  
  		</div>
 </div>
  
  
<div class="container">
		<hr>
			<div class="row">
			    <div class="col-xs-6 table-responsive">
					<table id="table1" style="display: inline-block;" class="table table-hover">
							<tr>
								{{ #gameInfo_Team1 }}
								<td><a href="userProfile?user={{summonerName}}">{{summonerName}}</a></td>
								{{ /gameInfo_Team1 }}
							</tr>
							
							<tr>
							 {{ #gameInfo_Champ1 }}
								<td class="champIcon" name="champIcon"><img width="50%" src="{{.}}"></td>
							{{ /gameInfo_Champ1 }} 	
							</tr>
							
							<tr>
								{{ #gameInfo_Spell1 }}
								<td>{{{ spell_1 }}} {{{ spell_2 }}}</td>
								{{ /gameInfo_Spell1 }}
							</tr>
					</table>
				</div>
				
				<div class="col-xs-6 table-responsive">
					<table id="table2" style="display: inline-block;" class="table table-hover">
							<tr>
								{{ #gameInfo_Team2 }}
								<td><a href="userProfile?user={{summonerName}}">{{summonerName}}</a></td>
								{{ /gameInfo_Team2 }}
							</tr>
							
							<tr>
						 		 {{ #gameInfo_Champ2 }}
									<td class="champIcon" name="champIcon"><img width="50%" src="{{.}}"></td>
								{{ /gameInfo_Champ2 }}	  
							</tr>
							
							<tr>
								{{ #gameInfo_Spell2 }}
								<td>{{{ spell_1 }}} {{{ spell_2 }}}</td>
								{{ /gameInfo_Spell2 }}
							</tr>
					</table>
				</div>
			
			
			
		 </div><!-- 경기현황 -->
	</div> <!-- container -->

<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>