<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>착한 바론</title>
    <script src="/webjars/jquery/3.2.1/jquery.min.js"></script>    
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <script type="text/javascript">
    
	    $(document).ready(function(){
	    	$('#header').load("/header.html");
	    	$.ajaxSettings.traditional = true;
	    	
	    	var iconCode = document.getElementsByName('champIcon');
	    	var arr = new Array();

	    	$.each(iconCode, function(index, value){
	    		arr[index] = value.textContent;
	    		//array.push(value.textContent);
	    	});
	    	
	    	
		    $.ajax({
		    	url: "getIcon",
		    	type: "get",
		    	data: {"arr": arr},
		    	dataType: "json",
		    	success: function(result){
		    		$.getJSON('json/champion.json', function(jsonData) {
			   	      	$.each(jsonData.data, function(index, value) {
				    		  if(value.key == 266)
				    		  {
				    			alert(value.name);  
				    		  }
				     	 });
			   	    });
		    	}
		    }); 
	 	 });
		
	    
	    



    </script>

	    
	   
</head>
<body>

    <div id="header">
  		
	</div>
	
	
<div class="row" style="text-align: center;">
  	<div class="col-xs-2">
	 	{{#summoner}}
	 		<!-- 아이콘 -->
		 	{{ #profileIconId }}
	  			<span style="display: none;" id="iconCode">{{.}}</span>	
	  		{{ /profileIconId }}
	 		<ul style="list-style: none;">
	 			<li>{{ #name }} {{.}} {{ /name }}</li>
	 			<li>{{ #summonerLevel }}	레벨 : {{.}}	{{ /summonerLevel }}</li>
		{{/summoner}}
  				{{#iconImg}}
  				<li>{{{ iconImg }}}</li>
				{{/iconImg}}
			</ul>
	</div>
		<div class="col-xs-3">	
		{{ #gameInfo_Time }}
				{{.}}
		{{ /gameInfo_Time }}
		<br>
	
		{{ #gameInfo_Mode }}
				{{.}}
		{{ /gameInfo_Mode }}
	  
  		</div>
 </div>
  
  
<div class="container">
		<hr>
			<div class="row">
			    <div class="col-xs-6 table-responsive">
					<table style="display: inline-block;" class="table table-hover">
							<tr>
								{{ #gameInfo_Team1 }}
								<td>{{summonerName}}</td>
								{{ /gameInfo_Team1 }}
							</tr>
							
							<tr>
							 {{ #gameInfo_Champ1 }}
								<td name="champIcon">{{{.}}}</td>
							{{ /gameInfo_Champ1 }} 	
							</tr>
							
							<tr>
								{{ #gameInfo_Spell1 }}
								<td>{{{ spell_1 }}} {{{ spell_2 }}}</td>
								{{ /gameInfo_Spell1 }}
							</tr>
					</table>
				</div>
				
				<div class="col-xs-6 table-responsive">
					<table style="display: inline-block;" class="table table-hover">
							<tr>
								{{ #gameInfo_Team2 }}
								<td>{{summonerName}}</td>
								{{ /gameInfo_Team2 }}
							</tr>
							
							<tr>
						 		 {{ #gameInfo_Champ2 }}
									<td name="champIcon">{{{.}}}</td>
								{{ /gameInfo_Champ2 }}	  
							</tr>
							
							<tr>
								{{ #gameInfo_Spell2 }}
								<td>{{{ spell_1 }}} {{{ spell_2 }}}</td>
								{{ /gameInfo_Spell2 }}
							</tr>
					</table>
				</div>
			
			
			
		 </div><!-- 경기현황 -->
	</div> <!-- container -->

<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>